/* cardsBox */
.cards {
  display: flex;
}
.card {
  background-color: aquamarine;
  color: rgb(10, 10, 10);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: -2px 4px 15px 10px rgba(0, 0, 0, 0.809);
  transition: 0.2s;
  height: 150px;
  width: 100px;
}

#catiaCard {
  background-image: url("Images/Cards/catia.png");
  margin: -2rem;
  height: 214px;
  border-radius: 8px;
}
#solidWorksCard {
  background-image: url("Images/Cards/solidWorksCard.jpg");
  margin: -2rem;
  height: 214px;
  border-radius: 8px;
}
#htmlCssJsCard {
  background-image: url("Images/Cards/html_ccs_js_card.jpg");
  margin: -2rem;
  height: 214px;
  border-radius: 8px;
}
#sqlCard {
  background-image: url("Images/Cards/sql.jpg");
  margin: -2rem;
  height: 214px;
  border-radius: 8px;
}

#javaCard {
  background-image: url("Images/Cards/javaCard.jpg");
  margin: -2rem;
  height: 214px;
  border-radius: 8px;
}
/* mouvement when hover */
.card:not(:first-child) {
  margin-left: -5rem;
}
.card:hover,
.card:focus-within {
  transform: translateY(-1rem);
}
.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: translatex(5rem);
}
