/* Style the top navigation bar */
.navbar {
  position: fixed;
  display: flex;
  column-gap: 3px;
  flex-direction: row;
}

/* Style the navigation bar links */
.navbar a {
  color: rgb(255, 254, 254);
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(130, 25, 11);
  border-radius: 15px;
  padding: 1px 10px 1px 10px;
  background: rgb(3, 3, 4);
}

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
}

.bgimg {
  position: absolute;
  color: rgba(255, 255, 255, 0.857);
  font-family: "Courier New", Courier, monospace;
  height: 25%;
  width: 30%;
  top: 35%;
  left: 35%;
  text-align: center;
  font-size: 25px;
  padding: 0;
}

hr {
  width: 30%;
}
